<% if @viewer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@viewer.errors.count,"error")  %>
      prohibited this article from being saved:
    </h2>
    <ul>
      <% @viewer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :name , "访客姓名"%>
<%= f.text_field :name %>

<%= f.submit "提交"%>