<!DOCTYPE html>
<html>
<head>
  <!--    注意要给　运算区域里的　字符串加" "-->
  <title><%= @article_status || "Blog" %> </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--flash信息只会出现一次-->
<p style="color: green"> <%= flash[:notice] %> </p>
<p style="color: red"> <%= flash[:alert] %> </p>
<%= yield %>
</body>
</html>
